body {
    background: #fcd791;
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
   color: #FF8C00;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    color: #272525;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
    padding: 5px;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}

#mainNavbar .nav-link {
    color: #000;
}

#mainNavbar .nav-link:hover {
    color: #FF8C00;
}

#mainNavbar .navbar-brand {
    color: #FF8C00;
    font-size: 1.5rem;
}

#headingGroup span {
    color: #FF8C00;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    background: #ffdc9a;
    transition: background 500ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}




